pkgbase = kcm-wacomtablet
	pkgdesc = KDE GUI for the Wacom Linux Drivers
	pkgver = 1.99.9
	pkgrel = 1
	url = http://kde-apps.org/content/show.php/wacom+tablet?content=114856
	arch = x86_64
	arch = i686
	license = GPLv2
	makedepends = cmake
	makedepends = automoc4
	depends = kdebase-workspace
	depends = xf86-input-wacom
	conflicts = kcm_tablet-svn kde-wacomtablet-svn
	replaces = kcm_tablet
	source = http://kde-apps.org/CONTENT/content-files/114856-wacomtablet-1.99.9.tar.gz
	sha256sums = 805f249e17a34f9d4c2e51bd583821726542361c20001f0ba470f0adcb5f3d2a

pkgname = kcm-wacomtablet

