pkgbase = kcm-wacomtablet
	pkgdesc = KDE GUI for the Wacom Linux Drivers
	pkgver = 1.99.3
	pkgrel = 1
	url = http://kde-apps.org/content/show.php/wacom+tablet?content=114856
	arch = x86_64
	arch = i686
	license = GPLv2
	makedepends = cmake
	makedepends = automoc4
	depends = kdebase-workspace
	depends = xf86-input-wacom
	conflicts = kcm_tablet-svn kde-wacomtablet-svn
	replaces = kcm_tablet
	source = http://kde-apps.org/CONTENT/content-files/114856-wacomtablet-1.99.3.tar.bz2
	sha256sums = b68bafa854064a2a4a35b6f47ad2f38f4296e186848e2f9eedc0e1f9529281a5

pkgname = kcm-wacomtablet

