pkgbase = kcm-wacomtablet
	pkgdesc = KDE GUI for the Wacom Linux Drivers
	pkgver = 2.0
	pkgrel = 1
	url = http://kde-apps.org/content/show.php?content=114856
	arch = x86_64
	arch = i686
	license = GPLv2
	makedepends = cmake
	makedepends = automoc4
	depends = kdebase-workspace
	depends = xf86-input-wacom
	conflicts = kcm_tablet-svn kde-wacomtablet-svn
	replaces = kcm_tablet
	source = http://kde-apps.org/CONTENT/content-files/114856-wacomtablet-2.0.tar.bz2
	sha256sums = 5d15a1cda1e418e633e7fdd83f5a398c4294c28771a16b68979a2b40ddac0def

pkgname = kcm-wacomtablet

